.address-form {
  border: 1px solid #000;
  background-color: mistyrose;
  margin: 10px;
  padding: 20px;

  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (max-width: 1000px) {
    width: 80vw;
    flex-wrap: wrap;
  }

  & > * {
    padding: 10px;
    margin: 10px;
    height: auto;
    border: 0;
    border: 1px solid #000;

    @media all and (max-width: 1000px) {
      width: 100%;
    }
  }

  &-input {
    @media all and (max-width: 1000px) {
      max-width: calc(200px - 20px - 2px);
    }
  }

  &-button {
    background-color: gainsboro;
    font-weight: bold;

    @media all and (max-width: 1000px) {
      max-width: 200px;
    }
  }
}
