.address-form {
  border: 1px solid #000;
  background-color: mistyrose;
  margin: 10px;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    padding: 20px;
    margin: 20px;
    height: auto;
    border: 0;
    border: 1px solid #000;
  }

  &-input {
    height: 20px;
  }

  &-button {
    height: calc(20px + 40px);
    background-color: gainsboro;
    font-weight: bold;
  }
}
